.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
}

.main-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-box {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: white;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.image-box:hover {
  transform: scale(1.4);
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-left {
  top: 5%;
  left:5%;
}

.top-center {
  top: 5%;
  left: 60%;
}

.top-right {
  top: 5%;
  right:5%;
}

.middle-left {
  top: 35%;
  left: 5%;
}

.middle-right {
  top: 68%;
  left:60%;
}

.bottom-left {
  bottom:10%;
  left: 5%;
}

.bottom-center {
  bottom: 45%;
  left: 85%;
}

.bottom-right {
  bottom: 10%;
  right: 5%;
}

.top-middle {
  top: 5%;
  left: 30%;
}

.bottom-middle {
  bottom: 10%;
  left: 30%;
}

.bottom-middle1{
  bottom: 43%;
  width: 500px;
  height: 150px;
  transform: scale(1.2);
  opacity: 1.0;
}

.text {
  color: rgb(6, 6, 6);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.image-box h1 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
}
.login {
  position: absolute;
  top: 10px;
  right: 30px;
}

.login a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d136d6;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.login a:hover {
  background-color: #9ed530;
  transform: scale(1.2);
}
.image-box1 {
  position: absolute;
  width: 500px;
  height: 150px;
  border: 1px solid black;
  background-color: white;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.image-box1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-box1:hover {
  transform: scale(1.4);
}
.image-box1:hover a::after {
  content: "https://www.youtube.com/";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  font-weight: bold;
}

/* Hide the link by default */
.image-box1:hover a::after {
  content: " (https://www.youtube.com/)";
  position: absolute;
}
